@page "/logout"
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<h3>Déconnexion...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var context = HttpContextAccessor.HttpContext;
        if (context != null)
        {
            await context.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        }
        else
        {
            // Journaliser ou gérer le cas où HttpContext est null
            Console.WriteLine("Attention: HttpContext est null lors de la déconnexion");
        }
        
        Navigation.NavigateTo("/");
    }
}