@page "/logout"
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<h3>Déconnexion...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HttpContextAccessor.HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        Navigation.NavigateTo("/");
    }
}