@page "/users"
@using Core.Interfaces
@using Core.Models
@using Core.DTOs

@inject IUserService UserService

<PageTitle>Users</PageTitle>

<h1>Users</h1>

@if (users == null)
{
    <p>Loading...</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Core.DTOs.UserDto> users;

    protected override async Task OnInitializedAsync()
    {
        var users = await UserService.GetAllUsersAsync();
    }
}