@page "/users"
@using Core.Interfaces.Services
@using Core.Data.Entity
@using Core.Data.DTOs

@inject IUserService UserService

<PageTitle>Users</PageTitle>

<h1>Users23</h1>

@if (users == null)
{
    <p>Loading...</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UserDto> ? users;
    private bool isLoading = true;
    private string ? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await UserService.GetAllUsersAsync();
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred while loading users: " + ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }
}